@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 80vh;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 20%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 120s linear infinite;
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc((var(--i) - 1) * (360deg / var(--total))))

    translateZ(450px);
}

/* .banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@keyframes autoRun {
 from {
  transform:  perspective(1000px) rotateX(5deg) rotateY(0deg);
 } to {
   transform:  perspective(1000px) rotateX(-40deg) rotateY(360deg);
 }
}